@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./loader.css');

@layer base {
	html {
		@apply h-full;
	}
	body {
		@apply bg-white text-black dark:bg-black dark:text-white h-full;
	}
	#__next {
		@apply min-h-full flex flex-col;
	}
	.create-icon:hover svg path {
		@apply fill-black;
	}
}

* {
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
::-webkit-scrollbar {
	display: none;
}
